@import "./theme/bootstrap.min.css";
@import "./theme/font-icons.css";

.main-wrapper {
  height: 100%;
  width: 100%;
  &.sidebar-open:before {
    background-color: rgba(0,0,0,0.5);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}