.page-header {
  align-items: center;
  background-color: darkslategrey;
  border-bottom: 1px solid darkcyan;
  color: white;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  .page-title {
    flex: auto;
    max-width: calc(100% - 30px);
  }
  .menu-bar {
    cursor: pointer;
    flex: auto;
    padding: 0;
    max-width: 30px;
    [class*="menu-bar-"] {
      background-color: white;
      height: 4px;
      margin: 4px 0;
      transition: 0.4s;
    }
    &.active {
      .menu-bar-1 {
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      .menu-bar-2 {
        opacity: 0;
      }
      .menu-bar-3 {
        transform: rotate(45deg) translate(-5px, -5px);
      }
    }
  }
  a {
    color: white;
    font-size: 20px;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}