<h1>
  projects works!
</h1>

<div class="form-control d-flex">
  <input type="text" class="form-control" name="email" [(ngModel)]="serchTerm" (change)="filterData()" placeholder="username or email" />
  <a href="javascript:;" class="btn btn-primary" (click)="filterData()">Search</a>
</div>
<div class="p-3">
  <div class="row m-0" *ngFor="let project of filteredProjects">
    <div class="col">
      {{project.clientName}}
    </div>
    <div class="col">
      {{project.projectName}}
    </div>
    <div class="col">
      {{project.startDate}}
    </div>
    <div class="col">
      {{project.endDate}}
    </div>
  </div>
</div>