.page-footer {
  background-color: gray;
  bottom: 0;
  color: white;
  padding: 5px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  .rights-label {
    align-items: center;
    display: flex;
    flex: auto;
    max-width: 320px;
    padding-top: 3px;
  }
  .network-links {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: flex-end;
    max-width: calc(100% - 320px);
    .social-network {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      vertical-align: middle;
      li {
        float: left;
        margin: 5px 0;
        a {
          margin: 0 5px;
          &:hover,
          &:focus {
            text-decoration: none;
          }
          span {
            border: 2px solid white;
            border-radius: 5px;
            color: white;
            font-size: 20px;
            padding: 4px;
          }
        }
      }
    }
  }
}