<div class="row no-margin page-footer" (click) = "footerClick()">
  <div class="col-lg-6 rights-label">
     Copyrights &#169; 2017. All Rights Reserved.
  </div>
  <div class="col-lg-6 network-links">
    <ul class="social-network">
      <li>
        <a href="javascript:;" name=""><span class="icon-facebook"></span></a>
      </li>
      <li>
        <a href="javascript:;" name=""><span class="icon-googleplus"></span></a>
      </li>
      <li>
        <a href="javascript:;" name=""><span class="icon-linkedin"></span></a>
      </li>
      <li>
        <a href="javascript:;" name=""><span class="icon-twitter"></span></a>
      </li>
      <li>
        <a href="javascript:;" name=""><span class="icon-youtube"></span></a>
      </li>
    </ul>
  </div>
</div>
