.page-footer {
  background-color: gray;
  bottom: 0;
  color: white;
  padding: 5px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  .rights-label {
  	flex: auto;
    max-width: 320px;
  }
  .network-links {
  	flex: auto;
    max-width: calc(100% - 320px);
  }
}