/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
.no-margin {
  margin: 0;
}
/*body.sidebar-open .main-wrapper:before {
  background-color: rgba(0,0,0,0.5);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}*/