<div class="loader-icon">
  <div class="loader-circle">
    <div class="loader-dot-circle"></div>
    <div class="loader-dot-2 loader-dot-circle"></div>
    <div class="loader-dot-3 loader-dot-circle"></div>
    <div class="loader-dot-4 loader-dot-circle"></div>
    <div class="loader-dot-5 loader-dot-circle"></div>
    <div class="loader-dot-6 loader-dot-circle"></div>
    <div class="loader-dot-7 loader-dot-circle"></div>
    <div class="loader-dot-8 loader-dot-circle"></div>
    <div class="loader-dot-9 loader-dot-circle"></div>
    <div class="loader-dot-10 loader-dot-circle"></div>
    <div class="loader-dot-11 loader-dot-circle"></div>
    <div class="loader-dot-12 loader-dot-circle"></div>
  </div>
  Page Loader
</div>